/* Reset */
	html, body, a, h1, h2, p, main {color: #666666; font-family: 'Fantasque Sans Mono', monospace; font-size: 1rem; font-weight: normal; hyphens: auto; line-height: normal; margin: 0px; text-align: center; text-decoration: none;}
/* Global elements */
	html {overflow-y: scroll;}
	a {text-decoration: underline;}
		a:active, a:hover {color: #000000;}
	h1, h1 a, h2 {font-weight: bold;}
		h1, h1 a { font-size: 3rem; font-style: normal; margin: 1rem 0 0 0; text-decoration: none; }
		h2, h2 a { font-size: 1.5rem; margin: 0.5rem 0 0.5rem 0; }
	p { max-width: 60rem; font-size: 1rem; font-weight: normal; margin: 0 0.5rem 0.5rem 0.5rem; text-align: justify; }
		p::first-line { text-indent: 2rem; }
/* Classed elements */
	img.centered { max-height: 30rem; }
	img.thumbnail {height:10rem; padding:0.5em; cursor: pointer;}
	p.centered {margin: 0 auto 0 auto;}
		p.centered::first-line {text-indent: 0;}
	span.close_button { text-align: right; }
/* Sectioning elements */
	header, main, footer { margin: 0 auto 0 auto; max-width: 95%; }
		header { margin: 0 auto 1rem auto; }
	nav, nav a { display: flex; font-size: 2rem; justify-content: space-evenly; margin: 0 auto 0 auto; }
	footer p, footer a { font-size: 0.8rem; }
	article { margin: 0 auto 1rem auto; max-width: 60rem; }
		article h1 { font-size: 2rem; text-align: justify; }
/* Abstract classes */
	.allcaps { text-transform: uppercase; }
	.centered { text-align: center; }
/* IDs */
div#lightbox {display: none; height: 100%; width: 100%; position: fixed; top: 0; right: 0; z-index: 1; background-color: rgba(0,0,0,0.80); backdrop-filter: blur(5px); text-align: center; color: hsla(0, 0%, 60%, 100%);}
	div#lightbox_controls {z-index: 2; position: relative; font-family: 'Symbola Regular';}
	div#lightbox_controls span.close_button { position: fixed; top: 2%; right: 2%; font-size: 2rem; cursor: pointer;}
	div#lightbox_controls span.previous_button {display: none; position: fixed; top: 43%; left: 2%; font-size: 2rem; cursor: pointer;}
	div#lightbox_controls span.next_button {display: none; position: fixed; top: 43%; right: 2%; font-size: 2rem; cursor: pointer;}
	div#lightbox_caption_box { height: 8%; max-width: 96%; margin: 2% auto; overflow-y: auto; }
		div#lightbox_caption_box p {margin: 0 auto; color: hsla(0, 0%, 60%, 100%)}
	div#lightbox_image_box { height: 86%; max-width: 96%; margin: 2% auto; position: relative; }
		div#lightbox_image_box img { max-height: 100%; max-width: 96%; position: absolute; top: 50%; right: 50%; transform: translateY(-50%) translateX(50%);}