body {
	background-image: url("assets/rawpixel-539818-unsplash.png");
	width: 100%;
	height: 100%;
}

h1 {
	font-family: 'Glegoo', serif;
	font-size: 3em;
	margin: 0.2em;
}

h2, p, ul {
	font-family: 'Arimo', sans-serif;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0.2em 1em;
}

p {
	margin: 0.2em 1em 1em 1em;
}

ul {
	margin: 1em;
}

li {
	list-style-type: disc;
	list-style-position: inside;
	margin: 0 0 0.2em 0;
}

main {
	width: 80%;
	margin: 1em auto;
	background-color: hsla(0, 0%, 100%, 0.80);
	overflow: auto;
}

footer {
	position: fixed;
	right: 10%;
	bottom: 1em;
	width: 80%;
	overflow: auto;
	background-color: hsla(0, 0%, 100%, 0.80);
}

footer p {
	font-size: 0.8em;
	margin: 0.2em 1em;
}