body {
    width: 60%;
    margin: 0 auto;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    font-weight: normal;
}

h2 {
    font-family: 'Nunito', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}

p {
    text-align: justify;
    font-size: 1em;
    font-family: 'Nunito', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5em;
    color: #888888;
}

a {
    color: #000000;
}

a:visited {
    color: #ff0000;
}

a:hover {
    color: #d7f442
}

a:active {
    color: #c321ff;
}

a:focus {
    color: #168425;
}