<div id="lightbox_controls">
	<span class="close_button">🗙</span>
	<span class="previous_button">⮜</span>
	<span class="next_button">⮞</span>
</div>
<div id="lightbox_image_box">
	<img src="/sketchbook/images/1986-00-00_mickey_mouse.jpg">
</div>
<div id="lightbox_caption_box">
	<p>Episode I: THE PHANTOM MENACE</p>
	<p>Turmoil has engulfed the Galactic Republic. The taxation of trade routes to outlying star systems is in dispute.</p>
	<p>Hoping to resolve the matter with a blockade of deadly battleships, the greedy Trade Federation has stopped all shipping to the small planet of Naboo.</p>
	<p>While the Congress of the Republic endlessly debates this alarming chain of events, the Supreme Chancellor has secretly dispatched two Jedi  Knights, the guardians of peace and justice in the galaxy, to settle the conflict...</p>
</div>