<a href="/">
	<img class="page_header" src="/nick_sedillos_header.svg" alt="Nick Sedillos">
</a>
<nav>
	<a href="/sketchbook">Sketchbook</a>
	<a href="/blog">Blog</a>
	<a href="https://twitter.com/nicksedillos">
		<svg class="icon">
			<use href="/icons/icons.svg#twitter_icon"/>
		</svg>
	</a>
	<a href="https://www.behance.net/nicksedillos">
		<svg class="icon">
			<use href="/icons/icons.svg#behance_icon"/>
		</svg>
	</a>
	<a href="https://www.instagram.com/nicksedillos/">
		<svg class="icon">
			<use href="/icons/icons.svg#instagram_icon"/>
		</svg>
	</a>
	<a href="https://www.youtube.com/NickSedillos">
		<svg class="icon">
			<use href="/icons/icons.svg#youtube_icon"/>
		</svg>
	</a>
</nav>