<a href="/"><img class="page_header" src="/nick_sedillos_header.svg" alt="Nick Sedillos"></a>
<nav>
	<a href="/sketchbook">Sketchbook</a>
	<a href="/blog">Blog</a>
	<a href="https://twitter.com/nicksedillos"><span class="glyph inline1-5rem" data="twitter"></a>
	<a href="https://www.behance.net/nicksedillos"><span class="glyph inline1-5rem" data="behance"></a>
	<a href="https://www.instagram.com/nicksedillos/"><span class="glyph inline1-5rem" data="instagram"></a>
	<a href="https://www.youtube.com/NickSedillos"><span class="glyph inline1-5rem" data="youtube"></a>
</nav>